#featured-products {
  min-height: 100vh;
  height: fit-content;
  background-color: #eaebf0;

  .title-container {
    display: flex;
    justify-content: center;
    .title {
      padding: 20px;
      width: fit-content;

      h2 {
        font-weight: 800;
      }
      #title-underline {
        width: 50%;
        height: 4px;
        background-color: black;
      }
    }
  }

  .products-row {
    // gap: 25px;
    display: flex;
    justify-content: center;
  }
}
