.featured-product-card {
  display: flex;
  justify-content: center;
  font-size: small;

  .card {
    width: 400px;
    border: none;
    .card-img-top {
      object-fit: cover;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card-title {
        font-size: medium;
      }

      .buttons-container {
        height: 60px;
        padding: 5px;
        display: flex;
        align-items: center;
        background-color: #eaebf0;
        border-radius: 10px;

        .quantity-container {
          display: flex;

          .btn-bs {
            font-size: 38px !important;
          }

          input {
            width: 50px;
          }
        }
      }
    }
  }
}
