header {
  // color: white;
  height: 100vh;
  background-image: url(../../../public/img/banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;

  div {
    height: 90%;
    div {
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 22px !important;
        .homepage-title {
          color: white;
          font-size: 42px;
          font-weight: 500;

          span {
            font-weight: 800;
          }
        }

        button {
          width: 50%;
        }
      }
    }
  }
}
