@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  // outline: 1px solid red;
  font-family: "Montserrat", sans-serif;
}

body {
  // background-color: black !important;
}

.main {
  margin-top: 100px;
  height: fit-content;
  min-height: 100vh;
  max-height: fit-content;
}
