@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  // outline: 1px solid red;
  font-family: "Helvetica", sans-serif;
}

body {
  background-color: #0f1014 !important;
  padding: 10px;
}

.main {
  margin-top: 72px;
  height: fit-content;
  min-height: 100vh;
  max-height: fit-content;
  // border-radius: 10px;
}
