nav {
  // padding: 10px !important;
  background-color: #212529 !important;
  padding: 5px 10% 5px 10% !important;

  div {
    background-color: #212529;
    // padding: 5px;
    padding: 0 !important;
    border-radius: 10px;
  }

  .navbar-brand {
    letter-spacing: 3px;
    margin-right: 30px;
  }
  .navbar-toggler {
    width: 30px;
    height: 20px;
    position: relative;
    transition: 0.5s ease-in-out;

    span {
      margin: 0;
      padding: 0;
    }

    .toggler-icon {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #d3531a;
      border-radius: 1px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }

    .middle-bar {
      margin-top: 0px;
    }

    .top-bar {
      margin-top: 0px;
      transform: rotate(135deg);
    }

    .middle-bar {
      opacity: 0;
      filter: alpha(opacity=0);
    }

    .bottom-bar {
      margin-top: 0px;
      transform: rotate(-135deg);
    }
  }

  .navbar-toggler.collapsed {
    .top-bar {
      margin-top: -20px;
      transform: rotate(0deg);
    }

    .middle-bar {
      opacity: 1;
      filter: alpha(opacity=100);
    }

    .bottom-bar {
      margin-top: 20px;
      transform: rotate(0deg);
    }

    .toggler-icon {
      background: white;
    }
  }

  .navbar-toggler {
    outline: none;
    box-shadow: none;
    border: 0;

    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
      border: 0;
    }
  }

  .toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
  }

  .navbar-nav {
    margin-left: auto !important;
  }

  .nav-item {
    margin-right: 30px;

    &:hover {
      background-color: #141414;
      border-radius: 10px;
    }

    .nav-link {
      text-wrap: nowrap;
      font-size: small;
    }
  }

  #search-container {
    #search-input {
      background-color: transparent !important;
      border: 1px solid white;
      border-radius: 50px;
      color: white;
      &::placeholder {
        color: white;
        opacity: 1; /* Firefox */
      }
    }
    #search-button {
      border-radius: 100px;
      height: 42px;
      margin-right: 8px;
    }

    .search-box {
      width: 186px;
      margin-right: 8px;
      border: 1px solid white;
      border-radius: 50px;
      color: white !important;

      display: flex;
      align-items: center;
      padding-left: 15px;

      button {
        background-color: transparent;
        outline: none;
        border: none;
        color: white;
      }

      input {
        background-color: transparent;
        outline: none;
        color: white;
        border: none;
        margin-left: 5px;
      }
    }
  }

  #cart-button {
    border-radius: 100px;
    height: 42px;
  }
}
