#call-to-action {
  height: 42px;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  border: 2px solid white;
  color: white;
  font-size: large;
  font-weight: 600;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 0.47);
    // border-radius: 16px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    // border: 1px solid rgba(255, 255, 255, 0.3);
    // color: #0f1014;
  }
}
