.footer-14398 {
  padding: 7rem 0;
  background: #000;
  color: #777;

  .footer-site-logo {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
    display: block;
  }

  h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .links li {
    margin-bottom: 10px;

    a {
      color: #999;

      &:hover {
        color: #fff;
      }
    }
  }

  .link-menu {
    li {
      display: inline-block;

      a {
        color: #fff;
        display: inline-block;
        padding: 10px;
      }
    }

    &.nav-left li:first-child a,
    &.nav-right li:last-child a {
      padding-left: 0;
    }
  }

  .social li {
    display: inline-block;

    a {
      display: inline-block;
      padding: 10px;
      color: #ccc;
    }

    &:last-child a {
      padding-right: 0;
    }
  }

  .line {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.footer-59391 {
  border-top: 1px solid #efefef;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 4rem 0;

  .site-logo a {
    font-size: 30px;
    color: #3e64ff;
    font-weight: 900;
  }

  .nav-links {
    li {
      display: inline-block;

      a {
        color: #777;
        padding: 10px;

        &:hover {
          color: #3e64ff;
        }
      }
    }

    &.nav-left li:first-child {
      padding-left: 0;
    }

    &.nav-right li:last-child {
      padding-right: 0;
    }
  }

  .copyright {
    border-top: 1px solid #efefef;
    padding-top: 50px;
    text-align: center;
    color: #777;
  }

  .subscribe .form-group {
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;

    input[type="email"] {
      height: 45px;
      border: none;
      background: #e6e6e6;

      &:focus,
      &:active {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder,
      &:-moz-placeholder {
        color: #b3b3b3;
        font-size: 14px;
      }
    }

    button {
      position: absolute;
      border: none;
      background: none;
      font-size: 1.5rem;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      top: 0.5rem;
      right: 0.3rem;
      line-height: 0;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  .social li {
    display: inline-block;
    position: relative;

    a {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-block;
      margin: 0;
      padding: 0;
      background-color: #e6e6e6;
      color: #333333;

      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

      &:hover {
        color: #3e64ff;
      }
    }
  }
}

.footer-95942 {
  padding: 7rem 0;
  font-family: "Poppins", sans-serif;

  .nav-links li {
    display: block;
    margin-bottom: 10px;

    a {
      font-size: 14px;
      color: #777;

      &:hover {
        color: #4200ff;
      }
    }
  }

  .social {
    &.app {
      font-size: 13px;
    }

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 10px;
        color: #ccc;

        &:hover {
          color: #4200ff;
        }
      }
    }

    &.nav-left li:first-child a {
      padding-left: 0px;
    }

    &.nav-right li:last-child a {
      padding-right: 0px;
    }
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.footer-48201 {
  padding: 7rem 0;
  background-color: #000;
  color: #777;

  .footer-site-logo {
    font-size: 1.5rem;
    color: #fff;
  }

  .nav-links li {
    margin-bottom: 10px;

    a {
      color: gray;

      &:hover {
        color: #fff;
      }
    }
  }

  .btn.btn-tertiary {
    background-color: #e42c64;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
  }

  .social li {
    display: inline-block;

    a {
      color: gray;
      padding: 7px;

      &:hover {
        color: #fff;
      }
    }
  }

  .copyright {
    border-top: 1px solid #404040;
  }
}

.footer-99382 {
  padding: 7rem 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #777;
  position: relative;
  font-family: "Poppins", sans-serif;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
  }

  .footer-site-logo {
    font-size: 1.5rem;
    color: #fff;
  }

  .nav-links li {
    margin-bottom: 10px;

    a {
      color: #999999;

      &:hover {
        color: #fff;
      }
    }
  }

  .btn.btn-tertiary {
    background-color: #e42c64;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
  }

  .social li {
    display: inline-block;

    a {
      color: gray;
      padding: 7px;

      &:hover {
        color: #fff;
      }
    }
  }

  .copyright {
    border-top: 1px solid #595959;
  }
}

.footer-16371 {
  padding: 7rem 0;
  font-family: "Poppins", sans-serif;

  .footer-site-logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;

    a {
      color: #4200ff;
    }
  }

  .nav-links {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;

      a {
        padding: 10px;
        color: #000;

        &:hover {
          color: #4200ff;
        }
      }
    }
  }

  .social {
    h3 {
      font-weight: bold;
      font-size: 18px;
      color: #000;
    }

    ul li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 10px;
      }

      &.in a {
        color: #df588a;
      }

      &.tw a {
        color: #15b8ff;
      }

      &.fb a {
        color: #3742d0;
      }

      &.dr a {
        color: #fa38c1;
      }

      &.pin a {
        color: #dd4d5a;
      }
    }
  }

  .copyright {
    color: #999999;
  }
}

.footer-39201 {
  padding: 7rem 0;
  color: #9d9d9d;

  .subscribe {
    position: relative;

    .form-control {
      background-color: #e6e6e6;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 30px;
      height: 50px;
      padding-left: 30px;
      padding-right: 130px;
      border: none;
      color: #000;

      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder,
      &:-moz-placeholder {
        color: #b3b3b3;
        font-style: italic;
        font-size: 14px;
      }
    }

    .btn-submit {
      background: #614ad3;
      height: 40px;
      border-radius: 30px;
      padding-left: 30px;
      padding-right: 30px;
      color: #fff;
      font-weight: bold;
      position: absolute;
      top: 5px;
      right: 5px;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    }
  }

  h3 {
    font-size: 16px;
    font-weight: 900;
    color: #000;
    margin-bottom: 20px;
  }

  .nav-links li {
    display: block;
    margin-bottom: 10px;

    a {
      color: #9d9d9d;

      &:hover {
        color: #614ad3;
      }
    }
  }

  .social li {
    display: inline-block;

    a {
      display: inline-block;
      padding: 10px;
      color: #9d9d9d;

      &:hover {
        color: #614ad3;
      }
    }
  }
}
